# useful aliases
alias mkd='mkdir -pv'
alias v='nvim'
alias la='ls -Agoh'
alias ll='ls -goh'
alias fonts='fc-list'
alias py='python'
alias gh='history | grep'

# file shortcuts
alias bpr='nvim ~/.profile'
alias sbpr='source ~/.profile'
alias brc='nvim ~/.bashrc'
alias vrc='nvim ~/.config/nvim/init.vim'
alias bal='nvim ~/.aliases'
alias sbrc='source ~/.bashrc'
alias wmc='nvim ~/.config/bspwm/bspwmrc'
alias hkc='nvim ~/.config/sxhkd/sxhkdrc'
alias bar='nvim ~/.config/polybar/config'

# directory shortcuts
alias bin='cd ~/.local/bin && ll'
alias locl='cd ~/.local && ll'
alias conf='cd ~/.config && ll'
alias dots='cd ~/.dotfiles && ll'
alias cs314='cd ~/Nextcloud/school/cs314 && ll'

#ssh
alias cpi='ssh ubuntu@192.168.1.132'
