# useful aliases
alias mkd='mkdir -pv'
alias v='nvim'
alias vim='nvim'
alias e='emacs'
alias q='exit'
alias la='ls -Agoh'
alias ll='ls -goh'
alias o='xdg-open'
alias n='nautilus'
alias upgrade='sudo dnf upgrade -y'

# Django
alias manage='python $(find $(git rev-parse --show-toplevel) -name manage.py)'

# venv
alias activate='source $(find $(git rev-parse --show-toplevel) -name activate)'

# file shortcuts
alias bpr='nvim ~/.profile'
alias sbpr='source ~/.profile'
alias brc='nvim ~/.bashrc'
alias vrc='nvim ~/.config/nvim/init.vim'
alias erc='emacs ~/.dotfiles/emacs/config.org'
alias bal='nvim ~/.aliases'
alias sbrc='source ~/.bashrc'

# directory shortcuts
alias dl='cd ~/Downloads && ll'
alias dots='cd ~/.dotfiles && ll'
alias pr='cd ~/Projects && ll'
alias ifb='cd ~/Projects/ifb && ll'
alias cphp='cd ~/Projects/cphp && ll'
alias cs460='cd ~/Projects/cs460 && ll'
alias web='cd ~/Projects/my-website && ll'
