# Command shortcuts
alias mkd='mkdir -pv'
alias v='nvim'
alias vim='nvim'
alias q='exit'
alias la='ls -Agoh'
alias ll='ls -goh'
alias gh='history | grep'
alias clip='xclip -selection "clipboard"'
alias z='zathura'
alias o='xdg-open'

alias trm='transmission-remote'
alias slmake='sudo make install && make clean'
alias egpuclk='sudo nvim /etc/default/amdgpu-custom-states.card0'

# Update system and signal goblocks
alias upgrade='yay -Syu && kill -37 $(pidof goblocks)'

# Python helpers
alias activate='source $(find $(git rev-parse --show-toplevel) -name activate)'
alias manage='python $(find $(git rev-parse --show-toplevel) -name manage.py)'

# file shortcuts
alias bpr='nvim ~/.profile'
alias sbpr='source ~/.profile'
alias brc='nvim ~/.bashrc'
alias vrc='nvim ~/.config/nvim/init.vim'
alias bal='nvim ~/.aliases'
alias sbrc='source ~/.bashrc'

# directory shortcuts
alias sc='cd ~/.local/scripts && ll'
alias bin='cd ~/.local/bin && ll'
alias cnf='cd ~/.config && ll'
alias dots='cd ~/.dotfiles && ll'
alias wiki='cd ~/projects/wiki && ll'
alias ifb='cd ~/projects/ifb && ll'
alias edwm='cd ~/.local/src/dwm && ll'
alias edmenu='cd ~/.local/src/dmenu && ll'
alias sf='cd ~/documents/starfinder && ll'
alias blog='cd ~/projects/blog && ll'

# Fonts
#fc-cache
#fc-list : family
#cal for calander
